## OS
.DS_Store

## Artifacts
*.class

## Package Files
*.jar
*.war
*.ear
target

## IDE's 
.idea
*.iml
.project
.settings
.classpath
.metals
.vscode
.factorypath

## Logs
*.log

## Temp
*~
.#*

.bigquery
dependency-reduced-pom.xml
created_job_ids

## Project Files
*-user.conf

## Python virtualenv
.venv

## Do not ignore jars used by unit tests
!zoltar-tests/src/test/resources/*.jar
